<%- include('./commonHeader.ejs'); %>
<head>
    <title>
        Error <%= error.status %>
    </title>
</head>

<body class="container bg-dark">
    <div class="mt-5 p-5 border rounded-5 bg-light">
        <div class="text-center">
            <h1>
                <%= message %>
            </h1>
        </div>
        <h2>
            <%= error.status %>
        </h2>
        <pre><%= error.stack %></pre>
        <div class="d-grid gap-2">
            <a href="/" class="btn btn-outline-secondary" type="button">Retour à l'accueil</a>
        </div>
    </div>
</body>

</html>