<%- include('./commonHeader.ejs'); %>

    <head>
        <title>
            Game Of Life
        </title>
    </head>
    <script type="text/javascript" src="/javascripts/game/v1/game.js"></script>
    <script type="text/javascript" src="/javascripts/game/v2/game.js"></script>

    <script>
        

        const params = new URLSearchParams(window.location.search)
        const max = params.get('max')
        const life = params.get('life')



        function applyCpt(cpt) {
            document.getElementById("compteur").textContent = cpt
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var cpt = 0
            var speed = 500
            console.log(getCurrentStatutV2());
            setInterval(() => {
                //applyMouvement(getCurrentStatut());
                //applyCpt(cpt++);
            }, speed)
        });

    </script>

    <body class="container-fluid bg-light">
        <div class="mt-2 p-5 ">
            <h1>Cycle de vie : <span id="compteur"></span></h1>
            <table class="mb-5">
                <tr>
                    <th class="border bg-primary p-1"></th>
                    <th class="border bg-secondary p-1"></th>
                    <th class="border bg-success p-1"></th>
                    <th class="border bg-danger p-1"></th>
                    <th class="border bg-warning p-1"></th>
                    <th class="border bg-info p-1"></th>
                    <th class="border bg-dark p-1"></th>
                    <th class="border bg-light p-1"></th>
                </tr>
                <tr>
                    <td>Eau</td>
                    <td>Montagne</td>
                    <td>Forêt</td>
                    <td>Danger</td>
                    <td>Civilisation 3</td>
                    <td>Civilisation 2</td>
                    <td>Civilisation 1</td>
                    <td>Vide</td>
                </tr>
            </table>
            <!--<table>

                <% for(var i=0; i<max; i++) {%>
                    <tr>
                        <% for(var j=0; j<max*2; j++) {%>

                            <% if(array[i][j]){ %>
                                <td class="border bg-dark p-1 " id="<%= max * 2 * i + j %>">

                                </td>
                                <% } else {%>
                                    <td class="border p-1 " id="<%= max * 2 * i + j %>">

                                    </td>
                                    <% } %>
                                        <% } %>
                    </tr>
                    <% } %>






            </table> -->
            <table>

                <% for(var i=0; i<max; i++) {%>
                    <tr>
                        <% for(var j=0; j<max*2; j++) {%>



                            <% switch (array[i][j]) { case 1 : %>

                                <td class="border bg-primary p-1 " id="<%= max * 2 * i + j %>"></td>
                                <% break; case 2 : %>
                                    <td class="border bg-secondary p-1 " id="<%= max * 2 * i + j %>"></td>
                                    <% break; case 3 : %>
                                        <td class="border bg-success p-1 " id="<%= max * 2 * i + j %>"></td>
                                        <% break; case 4 : %>
                                            <td class="border bg-danger p-1 " id="<%= max * 2 * i + j %>">
                                            </td>
                                            <% break; case 5 : %>
                                                <td class="border bg-warning p-1 " id="<%= max * 2 * i + j %>">
                                                </td>
                                                <% break; case 6 : %>
                                                    <td class="border bg-info p-1 " id="<%= max * 2 * i + j %>"></td>
                                                    <% break; case 7 : %>
                                                        <td class="border bg-dark p-1 " id="<%= max * 2 * i + j %>">
                                                        </td>
                                                        <% break; case 0 : %>
                                                            <td class="border bg-light p-1 "
                                                                id="<%= max * 2 * i + j %>"></td>
                                                            <% break; default : %>


                                                                <% break; } %>
                                                                    <% } %>
                    </tr>
                    <% } %>






            </table>



        </div>
    </body>